*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffddd2;
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #006d77;
    font-family: 'Noto Sans JP', sans-serif;
}
.logo{
    color: #edf6f9;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #edf6f9;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger {
    cursor: pointer;
    display: none;
}
.burger div{
width: 25px;
height: 5px;
background-color: black ;
margin: 5px;
}

.abouthead
{
    padding: 5%;
    text-align: center;
}
.abouthead p{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: initial;
    white-space: inherit;
    
}

.skateprof h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.prof p
{
    
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.acco h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;  
}
.accompl p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}

.olympics h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;  
}
.olympics p 
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.ninclusive h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;  
}
.ninclusive p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.rona h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;    
}
.rona p 
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.feelys h2 
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;  
}
.feelys p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.blm h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;   
}
.blm p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit; 
}
.blog-links
{
    text-align: center;
}
.blog-links li 
{
    list-style: none;
}
.blog-links a
{
    color: #e29578;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    justify-content: space-evenly;
    
}
.Webdes h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase; 
    padding: 5%;
    text-align: center; 
}
.Webdes h3
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;    
}
.Webdes p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.colorinspo h2 
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase; 
}
.colorinspo p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.webdevras h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.webdevras p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.webdevraltwo h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.webdevraltwo p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;    
}
.AliChar h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.AliChar p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.welcome h1
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5%;
    text-align: center;

}
.welcome p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.pcparthead h1
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5%;
    text-align: center;
}
.pics h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
.pics p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.parts h2
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;  
}
.parts p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}

.bloog h1
{
    padding: 5%;
    text-align: center;
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px; 
}
.bloog p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;  
}
.condeet h1
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5%;
    text-align: center;  
}
.condeet p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.condeetex h1
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    padding: 5%;
     
}
.condeetex h3
{
    color: #446b50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase; 
}
.condeetex
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
.joke{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit; 
    font-size: 15px;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.Piccipic
{
   align-items: center; 
   align-content: center;
}
.Piccipic p
{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: initial;
    white-space: inherit;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 80%;
    }
}

@media screen and (max-width:786px){
    body{overflow-x: hidden;}
    .nav-links{
        transform: translateX(100%);
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        transition: transform 0.5s ease-in;
        background-color: #006d77;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

    }
    .nav-links li{
        opacity: 100;
    }
    .burger {
        display: block;
    }
}
.nav-activate{
    transform: translateX(0%);
}